<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @device.uuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Extfaceable:</strong>
  <%= @device.extfaceable %>
</p>

<p>
  <strong>Driveable:</strong>
  <%= @device.driveable %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
